
{% extends '::base.html.twig' %}

{% block body %}

<div class="page container">

    <div class="row">
        <h1><small>Release the </small> Hogs Of War <small>... we were born to grill!</small></h1>
    </div>

    <div class="row">
        <div class="span9 offset1">
            <p>
                We are a clan on the EU server of
                <a href="http://worldoftanks.eu/">World of Tanks</a>.
                Most of our members are based in the UK, but we also have some
                members from the Netherlands, Germany, Almost-Germany (Austria),
                Sweden, France... well, pretty much from all over the continent.
            </p>
            <p>
                We have members online daily who regularly platoon and participate
                in clan wars and tank companies.
            </p>
            <p>
                If you are thinking of joining us, please note that you must be
                18 or older, you must use TeamSpeak, and you must be able to at
                least speak some semblance of English.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="span3 offset1">
            Pop by on our TeamSpeak:
        </div>
        <div class="span6 offset1">
            <p>
                <span style="color: #999;">Server:</span> <strong>hogsofwar.eu</strong>
            </p>
            <p>
                <span style="color: #999;">Password:</span> <strong>upyours</strong>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="span3 offset1">
            Poke us on Facebork:
        </div>
        <div class="span6 offset1">
            <a href="http://www.facebook.com/groups/159037590841008/">"Hogs of War" group page on Facebork</a>
        </div>
    </div>

    <div class="row">
        <div class="span3 offset1">
            Marvel at our clan page:
        </div>
        <div class="span6 offset1">
            <a href="http://worldoftanks.eu/community/clans/500001752-H_O_W/">"Hogs of War" clan page on World of Tanks</a>
        </div>
    </div>

    {#
    <div class="row">
        <div class="span3 offset1">
            Visit our clan forum:
        </div>
        <div class="span6 offset1">
            <a href="http://hogsofwar.freeforums.org/">"Hogs of War" clan forum</a>
        </div>
    </div>
    #}

</div>

{% endblock %}
