
{% extends '::base.html.twig' %}

{% block body %}

<div class="page container">

    <div class="row">
        <h1>Hogs Of War <small>Vehicles</small></h1>
    </div>

    <div class="row">
        <div class="span9 offset1">
            {% for vehicle in vehicles %}
                <p>
                    <img src="http://worldoftanks.eu{{ vehicle.contour_image }}" />
                    {{ vehicle.name }} (Tier {{ vehicle.level }})
                </p>
            {% endfor %}
        </div>
    </div>

</div>

{% endblock %}
